/*keyframes coeur*/
@keyframes heart-fillup {
    from {
        transform: scale(0,0);
    }

    to {
        transform: scale(1,1);
    }
}/*fin keyframes coeur*/

/*keyframes background spinner*/
@keyframes loader {
    0% {
        opacity: 1;
        
    }

    90%, 100% {
        opacity:0;
    }

    100% {
        z-index:-10;
    }
}/*fin keyframes background spinner*/

/*keyframes spinner*/
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1800deg);
    }
}/*fin keyframes spinner*/

/*keyframes fadeinup*/
@keyframes fadeinup {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}/*fin keyframes fadeinup*/

/*keyframes slide*/
@keyframes slide {
    from {
        transform: scaleX(0);
        flex: 0 0 0%;
    }

    to {
        transform: scaleX(1);
        flex: 1 1 25%;
        opacity: 1;
    }
}/*fin keyframes slide*/

/*keyframes check*/
@keyframes check {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0deg);
    }
}