@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin pad {
    @media screen and (min-width: map-get($breakpoints, pad)){
        @content;
    }
}

@mixin fbcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin title {
    font-size: 7vw;
    width: 90%;
    font-weight: bolder;
}

@mixin heartpos {
    position: absolute;
    right: 9vw;
    font-size: 7vw;
    color: $primaire;
}