$breakpoints: (
     pad: 768px, desktop: 1024px 
);

/* déclaration variables de couleurs*/
$primaire: #9356DC;
$primaire_clair: lighten(#9356DC, 5);
$secondaire: #FF79DA;
$secondaire_clair: lighten(#FF79DA, 5);
$tertiaire: #99E2D0;
$lgg: rgb(240, 238, 238);
$dkg: rgb(214, 212, 212);
$footcol: white;