/*déclaration variables breakpoints*/
$breakpoints: (pad: 768px, desktop: 1024px );
/*fin déclaration variables breakpoints*/

/* déclaration variables de couleurs*/
$primaire: #9356DC;
$primaire_clair: lighten($primaire, 5);
$secondaire: #FF79DA;
$secondaire_clair: lighten($secondaire, 5);
$tertiaire: #99E2D0;
$tertiaire_fonce: darken($tertiaire, 50);
$lgg: rgb(246, 246, 246);
$dkg: rgb(234, 234, 234);
$footcol: white;
/*fin déclaration variables de couleurs*/