$breakpoints: (
     pad: 768px, desktop: 1024px 
);

/* déclaration variables de couleurs*/
$primaire: #9356DC;
$primaire_sombre: darken(#9356DC, 10);
$secondaire: #FF79DA;
$secondaire_sombre: darken(#FF79DA, 10);
$tertiaire: #99E2D0;
$lgg: rgb(240, 238, 238);
$dkg: rgb(214, 212, 212);