/*animation du coeur qui se remplie*/

.heart {
    &--from > i {
    @include heartpos;
    z-index: 1;
    }

    &--to > i {
    @include heartpos;
    z-index: 2;
    transform-origin: center 75%;
    transform: scale(0, 0);
    }

    &:active .heart--to >i {
            animation: heart-fillup 450ms 150ms forwards;
        }

        @include desktop {
            &:hover .heart--to >i {
            animation: heart-fillup 450ms 150ms forwards;
            }
        }
} /*fin animation coeur qui se remplie*/

/*animation arrivé page de menu*/
.anim {
    @for $d from 1 through 17 {
        &--#{$d} { 
            animation-name: fadeinup;
            animation-delay: 300ms*$d;
            animation-duration: 600ms;
            animation-fill-mode: backwards;
            width: 100%;
            display: flex;
            justify-content: center;

            @include pad {
                width: 50%;
            }
    
            @include desktop {
                width: 50%;
            }
        }

    }
}/*fin animation arrivé page de menu*/ 

/*animation clique sur plat*/
.dish__check {
    transform-origin: center right;
    opacity:0;
}

.dish__case {
    &:active {
        .dish__check {
        animation: slide 700ms 150ms both cubic-bezier(0, 0.77, 0.58, 1);

            i {
                animation: check 700ms 150ms both cubic-bezier(0, 0.77, 0.58, 1);
            }
        }
    }
    @include desktop {
        &:hover .dish__check {
            animation: slide 700ms 150ms both cubic-bezier(0, 0.77, 0.58, 1);

            i {
                animation: check 700ms 150ms both cubic-bezier(0, 0.77, 0.58, 1);
            }

        }
    }
}


