/*animation du coeur qui se remplie*/

.heart {
    &--from > i {
    @include heartpos;
    z-index: 1;
    }

    &--to > i {
    @include heartpos;
    z-index: 2;
    transform-origin: center 75%;
    transform: scale(0, 0);
    }

    &:active .heart--to >i {
            animation: heart-fillup 450ms 150ms forwards;
        }

        @include desktop {
            &:hover .heart--to >i {
            animation: heart-fillup 450ms 150ms forwards;
            }
        }
} /*fin animation coeur qui se remplie*/

/*animation arrivé page de menu*/
.dish {
    > h2 {
        animation: fadeinup 4000ms 250ms forwards linear;
    }

    &__sub {
        animation: fadeinup 1000ms 300ms forwards linear;
    }

    &__case {
        animation: fadeinup 1000ms;
        
    }
}


