/*animation du coeur qui se remplie*/

.heart {
    &--from > i {
    @include heartpos;
    z-index: 1;
    }

    &--to > i {
    @include heartpos;
    z-index: 2;
    transform-origin: center 75%;
    transform: scale(0, 0);
    }

    &:active .restaurant__card__body__heart--to >i {
        animation: heart-fillup 450ms 150ms forwards;
    }

    @include desktop {
        &:hover .restaurant__card__body__heart--to >i {
        animation: heart-fillup 450ms 150ms forwards;
        }
    }
} 


