.heart {
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 11vw;

    @include pad {
        bottom: 3vw;
        left: 5vw;
    }

    @include desktop {
        bottom: 3vw;
        left: 5vw;
    }

    &--from {
        display: flex;
        align-items: center;
    }

    &--to {
        display: flex;
        align-items: center;
    }         
}