#heartcheck {
    @for $g from 1 through 8 {
        &-#{$g} {
        position: absolute;
        left: -9999px;
        }
    }
}

label {
    position: relative;
    top: 100%;

    @include pad {
        top: 25vw;
    }
}

.heart {
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 11vw;

    @include pad {
        bottom: 3vw;
        left: 5vw;
    }

    @include desktop {
        bottom: 3vw;
        left: 5vw;
    }

    &--from {
        display: flex;
        align-items: center;
    }

    &--to {
        display: flex;
        align-items: center;
    }         
}