footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #403f3f;
    padding-bottom: 25px;

    .logo {
        display: flex;
        align-items: flex-start;
        width: 90%;

        @include pad {
            justify-content: center;
        }

        @include desktop {
            justify-content: center;
        }

        img {
            height: 4.5vw;
            padding: 20px 10px 15px 0px;
            filter: invert(100);

            @include pad {
                width: 15vw;
            }
    
            @include desktop {
                width: 15vw;
            }
        }
    }

    ul {
        width: 90%;
        list-style-type: none;
        line-height: 1.5;
        font-size: 3.5vw;

        @include pad {
            line-height: 1;
            font-size: 2.5vw;
            display: flex;
        }

        @include desktop {
            line-height: 1;
            font-size: 2.5vw;
            display: flex;
        }

        li {

            @include pad {
                padding-right: 5vw;
            }
    
            @include desktop {
                padding-right: 5vw;
            }
            
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $footcol;

                i {
                    color: $footcol
                }

                p {
                    padding-left: 15px;
                    margin: 0;
                    color: $footcol;
                }

                .partner {
                    padding-left: 10px;
                    margin: 0;
                    color: $footcol;
                }
            }
        }
    }
}



