/*Header*/
header {
    display: flex;
    justify-content: center;
    padding: 10px;

    @include pad {
        justify-content: flex-end;
    }

    @include desktop {
        justify-content: flex-end;
    }

    .logo {
        display: flex;

        > img {
            width: 50vw;

            @include pad {
                width: 20vw;
            }
        
            @include desktop {
                width: 20vw;
            }
        }

        > a {
            text-decoration: none;
        
            > i {
                display: flex;
                position: relative;
                right: 11vw;
                font-size: 7vw;
                align-items: center;
                height: 100%;

                @include pad {
                    right: 70vw;
                    font-size: 6vw;
                }

                @include desktop {
                    right: 73vw;
                    font-size: 6vw;
                }
            }
        }
    }
}