@charset "UTF-8";
/* déclaration variables de couleurs*/
/*keyframes coeur*/
@keyframes heart-fillup {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
/*keyframes background spinner*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
  100% {
    z-index: -10;
  }
}
/*keyframes spinner*/
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1800deg);
  }
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, address, cite, code, del, dfn, em, img, ins,
small, strong, sub, sup, var, i, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

/* mise en place de la police graphique*/
* {
  font-family: "roboto", sans-serif;
  color: black;
}

h1 {
  font-family: "shrikhand", sans-serif;
}

/*Header*/
header {
  display: flex;
  justify-content: center;
  padding: 5px;
}
header .logo > img {
  width: 50vw;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #403f3f;
  padding-bottom: 25px;
}
footer .logo {
  display: flex;
  align-items: flex-start;
  width: 90%;
}
footer .logo img {
  height: 4vw;
  padding: 20px 10px 15px 0px;
  filter: invert(100);
}
footer ul {
  width: 90%;
  list-style-type: none;
  line-height: 1.5;
  font-size: 3vw;
}
footer ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
footer ul li a i {
  color: white;
}
footer ul li a p {
  padding-left: 15px;
  margin: 0;
  color: white;
}
footer ul li a .partner {
  padding-left: 10px;
  margin: 0;
  color: white;
}

/* mise en forme du bouton*/
button {
  font-size: 5vw;
  border-radius: 50px;
  padding: 20px;
  background: radial-gradient(ellipse at top left, #9356DC 10%, #FF79DA 100%);
  color: white;
  border: none;
  position: relative;
  z-index: 1;
}
button:hover {
  box-shadow: 1px 1px 5px grey;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(ellipse at top left, #782cd3 10%, #ff46cc 100%);
  opacity: 0;
  transition: opacity 350ms;
  z-index: -1;
}

/*animation du coeur qui se remplie*/
.restaurant__card__body__heart--from > i {
  position: absolute;
  right: 9vw;
  font-size: 7vw;
  color: #9356DC;
  z-index: 1;
}
.restaurant__card__body__heart--to > i {
  position: absolute;
  right: 9vw;
  font-size: 7vw;
  color: #9356DC;
  z-index: 2;
  transform-origin: center 75%;
  transform: scale(0, 0);
}
.restaurant__card__body__heart:hover .restaurant__card__body__heart--to > i {
  animation: heart-fillup 450ms 150ms forwards;
}

.loader {
  animation: loader 4000ms forwards cubic-bezier(0.82, 0.13, 0.83, 0.13);
  width: 100%;
  height: 100%;
  background-color: rgb(214, 212, 212);
  position: fixed;
  z-index: 10;
}
.loader__hat {
  position: absolute;
  left: 38%;
  top: 40%;
  transform-origin: 50% 10%;
  animation: spinner 6000ms 150ms both infinite linear;
}
@media screen and (min-width: 768px) {
  .loader__hat {
    left: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat {
    left: 40%;
  }
}
.loader__hat__cube {
  width: 150px;
  height: 180px;
  position: relative;
  background: radial-gradient(ellipse at top, #9356DC 20%, #FF79DA 100%);
}
@media screen and (min-width: 768px) {
  .loader__hat__cube {
    width: 250px;
    height: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__cube {
    width: 350px;
    height: 380px;
  }
}
.loader__hat__circle1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(ellipse at top left, #9356DC 10%, #FF79DA 100%);
  position: relative;
  bottom: 230px;
  right: 50px;
}
@media screen and (min-width: 768px) {
  .loader__hat__circle1 {
    width: 170px;
    height: 170px;
    bottom: 380px;
    right: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__circle1 {
    width: 230px;
    height: 230px;
    bottom: 490px;
    right: 100px;
  }
}
.loader__hat__circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(ellipse at top, #9356DC 10%, #FF79DA 100%);
  position: relative;
  bottom: 340px;
  left: 20px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .loader__hat__circle2 {
    width: 170px;
    height: 170px;
    bottom: 520px;
    left: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__circle2 {
    width: 230px;
    height: 230px;
    bottom: 680px;
    left: 65px;
  }
}
.loader__hat__circle3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(ellipse at top right, #9356DC 10%, #FF79DA 100%);
  position: relative;
  bottom: 430px;
  left: 100px;
}
@media screen and (min-width: 768px) {
  .loader__hat__circle3 {
    width: 170px;
    height: 170px;
    bottom: 720px;
    left: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__circle3 {
    width: 230px;
    height: 230px;
    bottom: 950px;
    left: 210px;
  }
}
.loader__hat__band {
  justify-content: center;
  align-items: center;
  display: flex;
  background: radial-gradient(ellipse at bottom, #99E2D0 10%, #9356DC 100%);
  width: 150px;
  height: 50px;
  position: relative;
  bottom: 350px;
}
@media screen and (min-width: 768px) {
  .loader__hat__band {
    width: 250px;
    height: 80px;
    bottom: 580px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__band {
    width: 350px;
    height: 100px;
    bottom: 790px;
  }
}
.loader__hat__band > img {
  width: 90%;
}

/* mise en forme de la géolocalisation*/
#geoloc {
  display: flex;
  justify-content: center;
  background-color: rgb(214, 212, 212);
  box-shadow: inset 0px 5px 5px grey;
}
@media screen and (min-width: 768px) {
  #geoloc {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  #geoloc {
    justify-content: flex-start;
  }
}
#geoloc > i {
  display: flex;
  align-items: center;
  font-size: 5vw;
  padding-right: 7px;
}
#geoloc > p {
  font-size: 4vw;
  font-weight: bolder;
}

/* fin de la mise en forme de la géolocalisation*/
/*mise en forme de la présentation*/
.prez {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 238, 238);
  padding: 15px 0px 30px 0px;
}
.prez__title {
  font-size: 9vw;
  width: 90%;
  font-weight: bolder;
}
.prez__title > p {
  text-align: center;
}
.prez__subtitle {
  font-size: 5vw;
  width: 90%;
  padding-bottom: 15px;
}
.prez__subtitle > p {
  text-align: center;
}

/*fin mise en forme de la présentation*/
/*mise en forme de la partie fonctionnement*/
.running {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.running__title {
  font-size: 7vw;
  width: 90%;
  font-weight: bolder;
}
.running__case {
  display: flex;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  margin: 15px 0px 15px 0px;
  width: 80%;
  background-color: rgb(240, 238, 238);
  border: none;
  box-shadow: 2px 8px 15px rgb(214, 212, 212);
}
.running__case__num {
  display: flex;
  font-size: 5vw;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 37px;
  padding: 1vw 2vw 1vw 2vw;
}
.running__case > i {
  display: flex;
  align-items: center;
  font-size: 5vw;
  color: darkgrey;
}
.running__case__descript {
  display: flex;
  align-items: center;
  font-size: 4vw;
  font-weight: bold;
  padding-left: 35px;
}

/*fin mise en forme de la partie fonctionnement*/
/*mise en forme de la partie restaurants*/
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 238, 238);
  padding-bottom: 50px;
}
.restaurant__title {
  font-size: 7vw;
  width: 90%;
  font-weight: bolder;
}
.restaurant__card {
  display: flex;
  width: 90%;
  margin: 20px 0px 20px 0px;
  border-radius: 25px;
  box-shadow: 3px 3px 8px grey;
}
.restaurant__card a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
}
.restaurant__card__image {
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  height: 200px;
}
.restaurant__card__image img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.restaurant__card__body {
  display: flex;
  background-color: white;
  justify-content: space-between;
  border-radius: 0px 0px 25px 25px;
  padding: 0px 20px 0px 20px;
}
.restaurant__card__body__text__name {
  font-weight: bold;
  font-size: 4.5vw;
}
.restaurant__card__body__text__location {
  font-size: 4vw;
}
.restaurant__card__body__heart {
  display: flex;
  align-items: center;
}
.restaurant__card__body__heart--from {
  display: flex;
  align-items: center;
}
.restaurant__card__body__heart--to {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
