@charset "UTF-8";
/* déclaration variables de couleurs*/
/*keyframes coeur*/
@keyframes heart-fillup {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
/*fin keyframes coeur*/
/*keyframes background spinner*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
  100% {
    z-index: -10;
  }
}
/*fin keyframes background spinner*/
/*keyframes spinner*/
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1800deg);
  }
}
/*fin keyframes spinner*/
/*keyframes fadeinup*/
@keyframes fadeinup {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*fin keyframes fadeinup*/
/*keyframes slide*/
@keyframes slide {
  from {
    transform: scaleX(0);
    flex: 0 0 0%;
  }
  to {
    transform: scaleX(1);
    flex: 1 1 25%;
    opacity: 1;
    margin-left: 5vw;
    padding: 0vw 5vw 0vw 5vw;
  }
}
/*fin keyframes slide*/
/*keyframes check*/
@keyframes check {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/*fin keyframes check*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, address, cite, code, del, dfn, em, img, ins,
small, strong, sub, sup, var, i, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

/* mise en place de la police graphique*/
* {
  font-family: "roboto", sans-serif;
  color: black;
}

h1 {
  font-family: "shrikhand", sans-serif;
}

/*Header*/
header {
  display: flex;
  justify-content: center;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  header {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  header {
    justify-content: flex-end;
  }
}
header .logo {
  display: flex;
}
header .logo > img {
  width: 50vw;
}
@media screen and (min-width: 768px) {
  header .logo > img {
    width: 20vw;
  }
}
@media screen and (min-width: 1024px) {
  header .logo > img {
    width: 20vw;
  }
}
header .logo > a {
  text-decoration: none;
}
header .logo > a > i {
  display: flex;
  position: relative;
  right: 11vw;
  font-size: 7vw;
  align-items: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  header .logo > a > i {
    right: 70vw;
    font-size: 6vw;
  }
}
@media screen and (min-width: 1024px) {
  header .logo > a > i {
    right: 70vw;
    font-size: 6vw;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #403f3f;
  padding-bottom: 25px;
}
footer .logo {
  display: flex;
  align-items: flex-start;
  width: 90%;
}
@media screen and (min-width: 768px) {
  footer .logo {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  footer .logo {
    justify-content: center;
  }
}
footer .logo img {
  height: 4.5vw;
  padding: 20px 10px 15px 0px;
  filter: invert(100);
}
@media screen and (min-width: 768px) {
  footer .logo img {
    width: 15vw;
  }
}
@media screen and (min-width: 1024px) {
  footer .logo img {
    width: 15vw;
  }
}
footer ul {
  width: 90%;
  list-style-type: none;
  line-height: 1.5;
  font-size: 3.5vw;
}
@media screen and (min-width: 768px) {
  footer ul {
    line-height: 1;
    font-size: 2.5vw;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  footer ul {
    line-height: 1;
    font-size: 2.5vw;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  footer ul li {
    padding-right: 5vw;
  }
}
@media screen and (min-width: 1024px) {
  footer ul li {
    padding-right: 5vw;
  }
}
footer ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
footer ul li a i {
  color: white;
}
footer ul li a p {
  padding-left: 15px;
  margin: 0;
  color: white;
}
footer ul li a .partner {
  padding-left: 10px;
  margin: 0;
  color: white;
}

/* mise en forme du bouton*/
button {
  font-size: 5vw;
  border-radius: 50px;
  padding: 20px;
  background: radial-gradient(ellipse at top left, #9356DC 10%, #FF79DA 100%);
  color: white;
  border: none;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  button {
    font-size: 2vw;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1024px) {
  button {
    font-size: 2vw;
    white-space: nowrap;
  }
}
button:active {
  box-shadow: 1px 1px 5px grey;
}
button:active::after {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  button:hover {
    box-shadow: 1px 1px 5px grey;
  }
  button:hover::after {
    opacity: 1;
  }
}
button::after {
  content: "";
  position: absolute;
  border-radius: 50px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(ellipse at top left, #a16be0 10%, #ff93e1 100%);
  opacity: 0;
  transition: opacity 350ms;
  z-index: -1;
}

/*animation du coeur qui se remplie*/
.heart--from > i {
  position: absolute;
  right: 9vw;
  font-size: 7vw;
  color: #9356DC;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .heart--from > i {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .heart--from > i {
    font-size: 3vw;
  }
}
.heart--to > i {
  position: absolute;
  right: 9vw;
  font-size: 7vw;
  color: #9356DC;
  z-index: 2;
  transform-origin: center 75%;
  transform: scale(0, 0);
}
@media screen and (min-width: 768px) {
  .heart--to > i {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .heart--to > i {
    font-size: 3vw;
  }
}
.heart:active .heart--to > i {
  animation: heart-fillup 450ms 150ms forwards;
}
@media screen and (min-width: 1024px) {
  .heart:hover .heart--to > i {
    animation: heart-fillup 450ms 150ms forwards;
  }
}

/*fin animation coeur qui se remplie*/
/*animation arrivé page de menu*/
.anim--1 {
  animation-name: fadeinup;
  animation-delay: 300ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--1 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--1 {
    width: 50%;
  }
}
.anim--2 {
  animation-name: fadeinup;
  animation-delay: 600ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--2 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--2 {
    width: 50%;
  }
}
.anim--3 {
  animation-name: fadeinup;
  animation-delay: 900ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--3 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--3 {
    width: 50%;
  }
}
.anim--4 {
  animation-name: fadeinup;
  animation-delay: 1200ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--4 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--4 {
    width: 50%;
  }
}
.anim--5 {
  animation-name: fadeinup;
  animation-delay: 1500ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--5 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--5 {
    width: 50%;
  }
}
.anim--6 {
  animation-name: fadeinup;
  animation-delay: 1800ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--6 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--6 {
    width: 50%;
  }
}
.anim--7 {
  animation-name: fadeinup;
  animation-delay: 2100ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--7 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--7 {
    width: 50%;
  }
}
.anim--8 {
  animation-name: fadeinup;
  animation-delay: 2400ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--8 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--8 {
    width: 50%;
  }
}
.anim--9 {
  animation-name: fadeinup;
  animation-delay: 2700ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--9 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--9 {
    width: 50%;
  }
}
.anim--10 {
  animation-name: fadeinup;
  animation-delay: 3000ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--10 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--10 {
    width: 50%;
  }
}
.anim--11 {
  animation-name: fadeinup;
  animation-delay: 3300ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--11 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--11 {
    width: 50%;
  }
}
.anim--12 {
  animation-name: fadeinup;
  animation-delay: 3600ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--12 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--12 {
    width: 50%;
  }
}
.anim--13 {
  animation-name: fadeinup;
  animation-delay: 3900ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--13 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--13 {
    width: 50%;
  }
}
.anim--14 {
  animation-name: fadeinup;
  animation-delay: 4200ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--14 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--14 {
    width: 50%;
  }
}
.anim--15 {
  animation-name: fadeinup;
  animation-delay: 4500ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--15 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--15 {
    width: 50%;
  }
}
.anim--16 {
  animation-name: fadeinup;
  animation-delay: 4800ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--16 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--16 {
    width: 50%;
  }
}
.anim--17 {
  animation-name: fadeinup;
  animation-delay: 5100ms;
  animation-duration: 600ms;
  animation-fill-mode: backwards;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .anim--17 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .anim--17 {
    width: 50%;
  }
}

/*fin animation arrivé page de menu*/
/*animation clique sur plat*/
.dish__check {
  transform-origin: center right;
  opacity: 0;
}

.dish__case:active .dish__check {
  animation: slide 700ms 150ms both cubic-bezier(0, 0.77, 0.58, 1);
}
.dish__case:active .dish__check i {
  animation: check 700ms 150ms both cubic-bezier(0, 0.77, 0.58, 1);
}
@media screen and (min-width: 1024px) {
  .dish__case:hover .dish__check {
    animation: slide 700ms 150ms both cubic-bezier(0, 0.77, 0.58, 1);
  }
  .dish__case:hover .dish__check i {
    animation: check 700ms 150ms both cubic-bezier(0, 0.77, 0.58, 1);
  }
}

.loader {
  animation: loader 4000ms forwards cubic-bezier(0.82, 0.13, 0.83, 0.13);
  width: 100%;
  height: 100%;
  background-color: rgb(214, 212, 212);
  position: fixed;
  z-index: 10;
}
.loader__hat {
  position: absolute;
  left: 38%;
  top: 40%;
  transform-origin: 50% 10%;
  animation: spinner 6000ms 150ms both infinite linear;
}
@media screen and (min-width: 768px) {
  .loader__hat {
    left: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat {
    left: 40%;
  }
}
.loader__hat__cube {
  width: 150px;
  height: 180px;
  position: relative;
  background: radial-gradient(ellipse at top, #9356DC 20%, #FF79DA 100%);
}
@media screen and (min-width: 768px) {
  .loader__hat__cube {
    width: 250px;
    height: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__cube {
    width: 350px;
    height: 380px;
  }
}
.loader__hat__circle1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(ellipse at top left, #9356DC 10%, #FF79DA 100%);
  position: relative;
  bottom: 230px;
  right: 50px;
}
@media screen and (min-width: 768px) {
  .loader__hat__circle1 {
    width: 170px;
    height: 170px;
    bottom: 380px;
    right: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__circle1 {
    width: 230px;
    height: 230px;
    bottom: 490px;
    right: 100px;
  }
}
.loader__hat__circle2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(ellipse at top, #9356DC 10%, #FF79DA 100%);
  position: relative;
  bottom: 340px;
  left: 20px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .loader__hat__circle2 {
    width: 170px;
    height: 170px;
    bottom: 520px;
    left: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__circle2 {
    width: 230px;
    height: 230px;
    bottom: 680px;
    left: 65px;
  }
}
.loader__hat__circle3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(ellipse at top right, #9356DC 10%, #FF79DA 100%);
  position: relative;
  bottom: 430px;
  left: 100px;
}
@media screen and (min-width: 768px) {
  .loader__hat__circle3 {
    width: 170px;
    height: 170px;
    bottom: 720px;
    left: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__circle3 {
    width: 230px;
    height: 230px;
    bottom: 950px;
    left: 210px;
  }
}
.loader__hat__band {
  justify-content: center;
  align-items: center;
  display: flex;
  background: radial-gradient(ellipse at bottom, #99E2D0 10%, #9356DC 100%);
  width: 150px;
  height: 50px;
  position: relative;
  bottom: 350px;
}
@media screen and (min-width: 768px) {
  .loader__hat__band {
    width: 250px;
    height: 80px;
    bottom: 580px;
  }
}
@media screen and (min-width: 1024px) {
  .loader__hat__band {
    width: 350px;
    height: 100px;
    bottom: 790px;
  }
}
.loader__hat__band > img {
  width: 90%;
}

/* mise en forme de la géolocalisation*/
#geoloc {
  display: flex;
  justify-content: center;
  background-color: rgb(214, 212, 212);
  box-shadow: inset 0px 5px 5px grey;
}
@media screen and (min-width: 768px) {
  #geoloc {
    justify-content: flex-start;
    width: 50%;
    border-radius: 30px;
    margin-left: 1vw;
  }
}
@media screen and (min-width: 1024px) {
  #geoloc {
    justify-content: flex-start;
    width: 40%;
    border-radius: 30px;
    margin-left: 1vw;
  }
}
#geoloc > i {
  display: flex;
  align-items: center;
  font-size: 5vw;
  padding-right: 7px;
}
@media screen and (min-width: 768px) {
  #geoloc > i {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2vw;
  }
}
@media screen and (min-width: 1024px) {
  #geoloc > i {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2vw;
  }
}
#geoloc > p {
  font-size: 4vw;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  #geoloc > p {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1024px) {
  #geoloc > p {
    font-size: 2vw;
  }
}

/* fin de la mise en forme de la géolocalisation*/
/*mise en forme de la présentation*/
.prez {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 238, 238);
  padding: 15px 0px 30px 0px;
}
@media screen and (min-width: 768px) {
  .prez {
    flex-direction: row;
    padding: 0vw;
    margin: 4vw 0vw 4vw 0vw;
  }
}
@media screen and (min-width: 1024px) {
  .prez {
    flex-direction: row;
    padding: 0vw;
    margin: 4vw 0vw 4vw 0vw;
  }
}
.prez__title {
  font-size: 9vw;
  width: 90%;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  .prez__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    width: 100%;
    height: 10vw;
  }
}
@media screen and (min-width: 1024px) {
  .prez__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    width: 100%;
    height: 10vw;
  }
}
.prez__title > p {
  text-align: center;
}
.prez__subtitle {
  font-size: 5vw;
  width: 90%;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .prez__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    width: 50%;
    height: 10vw;
  }
}
@media screen and (min-width: 1024px) {
  .prez__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    width: 50%;
    height: 10vw;
  }
}
.prez__subtitle > p {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .prez__button {
    position: relative;
    right: 60vw;
    top: 11vw;
    width: 0%;
  }
}
@media screen and (min-width: 1024px) {
  .prez__button {
    position: relative;
    right: 60vw;
    top: 11vw;
    width: 0%;
  }
}

/*fin mise en forme de la présentation*/
/*mise en forme de la partie fonctionnement*/
.running {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .running {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .running {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.running__title {
  font-size: 7vw;
  width: 90%;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  .running__title {
    font-size: 3vw;
    margin-top: 4vw;
  }
}
@media screen and (min-width: 1024px) {
  .running__title {
    font-size: 3vw;
    margin-top: 4vw;
  }
}
.running__case {
  display: flex;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  margin: 15px 0px 15px 0px;
  width: 80%;
  background-color: rgb(240, 238, 238);
  border: none;
  box-shadow: 2px 8px 15px rgb(214, 212, 212);
}
@media screen and (min-width: 768px) {
  .running__case {
    font-size: 3vw;
    padding: 0vw;
    margin: 2vw;
    width: 40%;
    height: 8vw;
  }
}
@media screen and (min-width: 1024px) {
  .running__case {
    font-size: 3vw;
    padding: 0vw;
    margin: 2vw;
    width: 40%;
    height: 8vw;
  }
}
.running__case__num {
  display: flex;
  font-size: 5vw;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 37px;
  padding: 1vw 2vw 1vw 2vw;
}
@media screen and (min-width: 768px) {
  .running__case__num {
    font-size: 3vw;
    padding: 1.5vw 2vw 4vw 2vw;
    bottom: 16px;
    right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .running__case__num {
    font-size: 3vw;
    padding: 1.5vw 2vw 4vw 2vw;
    bottom: 25px;
    right: 37px;
  }
}
.running__case > i {
  display: flex;
  align-items: center;
  font-size: 5vw;
  color: darkgrey;
}
@media screen and (min-width: 768px) {
  .running__case > i {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .running__case > i {
    font-size: 3vw;
  }
}
.running__case__descript {
  display: flex;
  align-items: center;
  font-size: 4vw;
  font-weight: bold;
  padding-left: 35px;
}
@media screen and (min-width: 768px) {
  .running__case__descript {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1024px) {
  .running__case__descript {
    font-size: 2vw;
  }
}

/*fin mise en forme de la partie fonctionnement*/
/*mise en forme de la partie restaurants*/
.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 238, 238);
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .restaurant {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.restaurant__title {
  font-size: 7vw;
  width: 90%;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  .restaurant__title {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__title {
    font-size: 3vw;
  }
}
.restaurant__card {
  display: flex;
  width: 90%;
  margin: 20px 0px 20px 0px;
  border-radius: 25px;
  box-shadow: 3px 3px 8px grey;
}
@media screen and (min-width: 768px) {
  .restaurant__card {
    width: 40%;
    margin: 40px;
    height: 25vw;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__card {
    width: 40%;
    margin: 40px;
    height: 25vw;
  }
}
.restaurant__card a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
}
.restaurant__card__body {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  border-radius: 25px;
}
.restaurant__card__body__image {
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  height: 200px;
}
.restaurant__card__body__image img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.restaurant__card__body__text {
  padding-left: 3vw;
}
.restaurant__card__body__text__name {
  font-weight: bold;
  font-size: 4.5vw;
}
@media screen and (min-width: 768px) {
  .restaurant__card__body__text__name {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__card__body__text__name {
    font-size: 3vw;
  }
}
.restaurant__card__body__text__location {
  font-size: 4vw;
}
@media screen and (min-width: 768px) {
  .restaurant__card__body__text__location {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__card__body__text__location {
    font-size: 2vw;
  }
}

/*fin de la mise en forme de la partie restaurant*/
.heart {
  display: flex;
  align-items: flex-end;
  position: relative;
  bottom: 11vw;
}
@media screen and (min-width: 768px) {
  .heart {
    bottom: 3vw;
    left: 5vw;
  }
}
@media screen and (min-width: 1024px) {
  .heart {
    bottom: 3vw;
    left: 5vw;
  }
}
.heart--from {
  display: flex;
  align-items: center;
}
.heart--to {
  display: flex;
  align-items: center;
}

.img_prez {
  height: 60vw;
}
@media screen and (min-width: 768px) {
  .img_prez {
    height: 40vw;
  }
}
@media screen and (min-width: 1024px) {
  .img_prez {
    height: 40vw;
  }
}
.img_prez img {
  width: 100%;
  height: 80vw;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .img_prez img {
    height: 60vw;
  }
}
@media screen and (min-width: 1024px) {
  .img_prez img {
    height: 60vw;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  border-radius: 12vw 12vw 0vw 0vw;
  position: relative;
  background-color: rgb(214, 212, 212);
}
.menu > h1 {
  padding: 5vw;
  font-size: 7vw;
}
@media screen and (min-width: 768px) {
  .menu > h1 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu > h1 {
    font-size: 3vw;
  }
}
.menu .heart {
  bottom: 8vw;
}
@media screen and (min-width: 768px) {
  .menu .heart {
    bottom: 7vw;
    left: -49vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu .heart {
    bottom: 7vw;
    left: -49vw;
  }
}
.menu .dish {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu .dish {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .menu .dish {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.menu .dish__sub {
  position: relative;
  right: 40vw;
  width: 10vw;
  border-top: 1vw solid #99E2D0;
  margin-bottom: 3vw;
}
@media screen and (min-width: 768px) {
  .menu .dish__sub {
    right: 69.7vw;
    width: 4vw;
    top: 1vw;
    border-top: 0.5vw solid #99E2D0;
  }
}
@media screen and (min-width: 1024px) {
  .menu .dish__sub {
    right: 69.7vw;
    width: 4vw;
    top: 1vw;
    border-top: 0.5vw solid #99E2D0;
  }
}
.menu .dish h2 {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  font-size: 6vw;
  font-weight: lighter;
  margin: 0vw 0vw 1vw 0vw;
}
@media screen and (min-width: 768px) {
  .menu .dish h2 {
    font-size: 3vw;
    padding-bottom: 3.5vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu .dish h2 {
    font-size: 3vw;
    padding-bottom: 3.5vw;
  }
}
.menu .dish__case {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-radius: 20px;
  background-color: rgb(240, 238, 238);
  margin-bottom: 5vw;
  box-shadow: 3px 3px 7px grey;
}
@media screen and (min-width: 768px) {
  .menu .dish__case {
    border-radius: 30px;
    height: 10vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu .dish__case {
    border-radius: 50px;
    height: 10vw;
  }
}
.menu .dish__case__text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.menu .dish__case__text__dish {
  font-size: 4.4vw;
  font-weight: bold;
  padding: 4vw 4vw 1vw 4vw;
  margin: 0vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .menu .dish__case__text__dish {
    font-size: 2vw;
    padding: 2vw 2vw 1vw 2vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu .dish__case__text__dish {
    font-size: 2vw;
    padding: 2vw 2vw 1vw 2vw;
  }
}
.menu .dish__case__text__accompaniment {
  font-size: 3.4vw;
  padding: 1vw 4vw 4vw 4vw;
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .menu .dish__case__text__accompaniment {
    font-size: 1.7vw;
    padding: 1vw 2vw 2vw 2vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu .dish__case__text__accompaniment {
    font-size: 1.7vw;
    padding: 1vw 2vw 2vw 2vw;
  }
}
.menu .dish__case__price {
  display: flex;
  align-items: flex-end;
  padding: 5vw 0vw 5vw 0vw;
  font-size: 4vw;
  font-weight: bolder;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .menu .dish__case__price {
    font-size: 2vw;
    padding: 5vw 0vw 3vw 0vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu .dish__case__price {
    font-size: 2vw;
    padding: 5vw 0vw 3vw 0vw;
  }
}
.menu .dish__check {
  display: flex;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  margin-bottom: 5vw;
  box-shadow: 3px 3px 7px grey;
}
@media screen and (min-width: 768px) {
  .menu .dish__check {
    width: 4%;
    border-radius: 0px 30px 30px 0px;
  }
}
@media screen and (min-width: 1024px) {
  .menu .dish__check {
    width: 4%;
    border-radius: 0px 50px 50px 0px;
  }
}
.menu .dish__check > i {
  color: rgb(240, 238, 238);
  display: flex;
  align-items: center;
  font-size: 8vw;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .menu .dish__check > i {
    font-size: 6vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu .dish__check > i {
    font-size: 6vw;
  }
}
.menu__button {
  display: flex;
  justify-content: center;
  margin: 7vw 0vw 15vw 0vw;
}
@media screen and (min-width: 768px) {
  .menu__button {
    margin: 3vw -48vw 7vw 0vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu__button {
    margin: 3vw -48vw 7vw 0vw;
  }
}
.menu__button .button {
  font-size: 5vw;
  width: 50vw;
}
@media screen and (min-width: 768px) {
  .menu__button .button {
    font-size: 3vw;
    width: 30vw;
  }
}
@media screen and (min-width: 1024px) {
  .menu__button .button {
    font-size: 3vw;
    width: 30vw;
  }
}

/*# sourceMappingURL=style.css.map */
