/* mise en forme de la géolocalisation*/
#geoloc {
    display: flex;
    justify-content: center;
    background-color: $dkg;
    box-shadow: inset 0px 5px 5px grey;

    @include pad {
        justify-content: flex-start;
    }

    @include desktop {
        justify-content: flex-start;
    }

    > i {
        display: flex;
        align-items: center;
        font-size: 5vw;
        padding-right: 7px;
    }

    > p {
        font-size: 4vw;
        font-weight: bolder;
    }
}/* fin de la mise en forme de la géolocalisation*/

/*mise en forme de la présentation*/ 
.prez {
    @include fbcolumn;
    background-color: $lgg;
    padding: 15px 0px 30px 0px;

    &__title {
        font-size: 9vw;
        width: 90%;
        font-weight: bolder;
        
        > p {
            text-align: center;
        }
    }

    &__subtitle {
        font-size: 5vw;
        width: 90%;
        padding-bottom: 15px;
        
        > p {
            text-align: center;
        }
    }
}/*fin mise en forme de la présentation*/ 

/*mise en forme de la partie fonctionnement*/
.running {
    @include fbcolumn;
    padding-bottom: 50px;

    &__title {
        @include title;
    }

    &__case {
        display: flex;
        border-radius: 20px;
        padding: 0px 20px 0px 20px;
        margin: 15px 0px 15px 0px;
        width: 80%;
        background-color: $lgg;
        border: none;
        box-shadow:  2px 8px 15px $dkg;
        
        &__num {
            display:flex;
            font-size: 5vw;
            border-radius: 100%;
            background-color: $primaire;
            color: white;
            position: relative;
            right: 37px;
            padding: 1vw 2vw 1vw 2vw;
            
        }
        
         >i {
            display:flex;
            align-items: center;
            font-size: 5vw;
            color: darkgrey;
         }

         &__descript {
            display: flex;
            align-items: center;
            font-size: 4vw;
            font-weight: bold;
            padding-left: 35px;
         }

    }
}/*fin mise en forme de la partie fonctionnement*/

/*mise en forme de la partie restaurants*/
.restaurant {
    @include fbcolumn;
    background-color: $lgg;
    padding-bottom: 50px;

    &__title {
        @include title;
    }
    &__card {
        display: flex;
        width: 90%;
        margin: 20px 0px 20px 0px;
        border-radius: 25px;
        box-shadow: 3px 3px 8px grey;

        a {
            display: flex;
            flex-direction:column;
            text-decoration: none;
            width: 100%;
        }

        &__image {
            display:flex;
            overflow: hidden;
            width:100%;
            border-radius: 25px 25px 0px 0px;
            height: 200px;
            

            img {
                width: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }

        &__body {
            display:flex;
            background-color: white;
            justify-content:space-between;
            border-radius: 0px 0px 25px 25px;
            padding: 0px 20px 0px 20px;

            &__text {
                &__name {
                    font-weight: bold;
                    font-size: 4.5vw;
                }
    
                &__location {
                    font-size: 4vw;
                }
            }
            
            &__heart{
                display: flex;
                align-items: center;

                &--from{
                    display: flex;
                    align-items: center;
                }

                &--to {
                    display: flex;
                    align-items: center;
                }

            }              
        }
    }
}