/* mise en forme de la géolocalisation*/
#geoloc {
    display: flex;
    justify-content: center;
    background-color: $dkg;
    box-shadow: inset 0px 5px 5px grey;

    @include pad {
        justify-content: flex-start;
    }

    @include desktop {
        justify-content: flex-start;
    }

    > i {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        padding-right: 7px;
    }

    > p {
        font-size: 1.1rem;
        font-weight: bolder;
    }
}/* fin de la mise en forme de la géolocalisation*/

/*mise en forme de la présentation*/ 
.prez {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $lgg;
    padding: 2vh 0vh 2vh 0vh;

    &__title {
        font-size: 9vw;
        width: 90%;
        
        > p {
            text-align: center;
        }
    }

    &__subtitle {
        font-size: 5vw;
        width: 90%;
        
        > p {
            text-align: center;
        }
    }
}
